 {% if game.status == "D" %}
    It's a draw!
{% elif game.status == "X" and user == game.first_player %}
    You win!
{% elif game.status == "O" and user == game.second_player %}
    You win!
{% elif game.status == "X" or game.status == "O" %}
    You lose!
{% elif game.move_set.count > 0 %}
    {% with last_move=game.move_set.latest %}
        {{ last_move.player.username }} played at ({{ last_move.x }}, {{ last_move.y }}).
    {% endwith %}
{% else %}
    This is a new game, waiting for {{ game.next_to_move.username }} to make the first move...
{% endif %}